<p>Cześć,</p>
<p>Mam na imię Adam. Mam 17 lat i uczęszczam do 3 klasy Technikum Informatycznego w Tucholi.</p>
<p>Właśnie robię bardzo prostą stronę w Ruby On Rails. Jeżeli to czytasz dopiero zaczynam zabawę z tym językiem.</p>
<p>Bardzo lubię Informatykę i majsterkowanie. Uczęszczam na dodatkowe z programowania, a majsterkować kocham.</p>
<p>Na YouTubie oglądam takie kanały jak: Wielki Elektronik oraz Daniel Rakowiecki </p>
<p>Powrót do strony głównej: <a href="http://51.83.130.38:3020">Kliknij</a> </p>